:root{
    --color-1:#000;
    --color-2:#00f;
    --color-3:#f00;
    --color-4:#fff;
    --color-5:#05a3e6;
}
body{
    background-color: var( --color-5);
}
input[type="submit"]{
    color:var(--color-5)
}



/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 200px auto;
    background-color:var(--color-1);
    
}

.brand img{
    width: 100%;
    height: 100%;
}
.nav{
    list-style-type: none;
   
}
.nav-list{
    display: inline-block;
}
.nav-item{
    display: block;
    color: var(--color-4);
    text-decoration: none;
    padding: 15px;
} */